{% extends 'base.html.twig' %}

{% block body %}

    {% include 'category/list.html.twig' %}

    <h1>Category List</h1>
    <div>
        <table>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('shop_category_show', { 'name': category.name }) }}">{{ category.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
